__pycache__/
*.pyc
*.pyo
.git
.vscode
node_modules
*.log
*.sqlite3
config.py
myenv
.myenv
.logs
logs/
converted_procedures/
extracted_procedures/
processed_procedures/ 
deployed_procedures/
py_tests/
scripts/__pycache__/
Dockerfile
.dockerignore
.gitignore
.env
README.md
structure.txt
structure.py